.CFUserTextEncoding
.DS_Store
.Trash/
.android/
.cache/
.config/
.dbshell
.dropbox/
.emacs.d/
.fontconfig/
.gem/
.gemrc
.heroku/
.idlerc/
.ido.last
.lldb-history
.local/
.mongorc.js
.mplayer/
.netrc
.node-gyp/
.npm/
.python-eggs/
.recentf
.rnd
.rvm/
.sh_history
.ssh/
.subversion/
.wine/
.zprofile
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Tresors/
bitlord_log.txt
public_html/
temp.log
tmp/
