[user]
  name = ssuyi
  email = ssuyi@cs.nctu.edu.tw
[alias]
  st = status
  co = commit
  b = branch
  ch = checkout
  lg = log --graph --pretty=oneline --abbrev-commit
[core]
  editor = /usr/bin/vim
